/**
Blue:         #3a4660
Beige:        #c9af98
Font:         #ed8a63
Logo Color:   #845007
**/

body {
    height: 100%;
    display: grid;
    grid-template-columns: minmax(12em, 22em) minmax(70%, auto);
    grid-template-rows: 6em auto;
    grid-template-areas:
      "header header"
      "sidebar main";
}

@media screen and (max-width: 520px) {
    body {
        grid-template-columns: 0em auto;
    }
}

/******************* HEADER *******************/

header {
  grid-area: header;
  background-color: #3a4660;
}

/******************* SIDEBAR *******************/

nav {
    background-color: #c9af98;
    position: relative;
    grid-area: sidebar;
}

/******************* MAIN *******************/

main {
    grid-area: main;
    background-color: #c9af98;
    color: #3a4660;
    box-shadow: 0em 10em 15em 0em #000000;
}

/******************* List *******************/

.list{
  margin: 1em;
  height: auto;
}
