/**
Blue:         #3a4660
Beige:        #c9af98
Font:         #ed8a63
Logo Color:   #845007
**/

body {
    /**font-family: DPDorkDiary;**/
    height: 100%;

}

@media screen and (max-width: 520px) {
    body {
        grid-template-columns: 0em auto;
    }
}

/******************* HEADER *******************/

header {
    background-color: #ffffff;
    z-index: 1;
}

/******************* MAIN *******************/

main {
    grid-area: main;
    background-color: #c9af98;
    color: #3a4660;
    box-shadow: 0em 10em 15em 0em #000000;
}

/******************* List *******************/

.list {
    height: 22em;
    margin-top: 30em;
    background-color: #ffffff;
}