/******************* Triangle and Logo from Sidebar *******************/

.triangle {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 12em 12em;
    border-color: transparent transparent #1d1145 transparent;
}

.github-icon {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 0.5em;
    margin: 0.6em 0;
    float: left;
}

.rights {
    margin: 0;
}

p {
    margin: 0;
    font-size: 10px;
    color: #ed8a63;
}

.logo {
    bottom: 0;
    right: auto;
    width: auto;
    height: 0;
}

/******************* Sidebar with Hovereffects *******************/

#sidebar ul {
    list-style-type: none;
    margin: 2em 1em;
    padding: 10px;
    -webkit-font-smoothing: antialiased;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    transition: 1s;
}

#sidebar:active {
    color: #3a4660;
}

#sidebar ul li {
    --c: #1d1145;
    color: var(--c);
    font-size: 12px;
    border: 0.3em solid var(--c);
    border-radius: 0.9em;
    width: auto;
    height: 3em;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.1em;
    text-align: center;
    line-height: 3em;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: 0.1s;
    margin: 1em;
}

#sidebar ul {
    padding: 0;
}

#sidebar ul li span {
    position: absolute;
    width: 25%;
    height: 100%;
    background-color: #1d1145;
    transform: translateY(100%);
    border-radius: 50%;
    left: calc((var(--n) - 1) * 25%);
    transition: 0.5s;
    transition-delay: calc((var(--n) - 1) * 0.1s);
    z-index: -1;
}

#sidebar ul li:hover {
    color: #ed8a63;
    cursor: pointer;
}

#sidebar ul li:hover span {
    transform: translateY(0) scale(2);
}

#sidebar ul li span:nth-child(1) {
    --n: 1;
}

#sidebar ul li span:nth-child(2) {
    --n: 2;
}

#sidebar ul li span:nth-child(3) {
    --n: 3;
}

#sidebar ul li span:nth-child(4) {
    --n: 4;
}

ul {
    list-style: none;
}

.size {
    font-size: 5px;
    cursor: copy;
}

.nav li:hover {
    background: #1d1145;
}

.nav>ul {
    list-style: none;
    margin: 2em 1em;
    padding: 10px;
    color: rgba(255, 255, 255, 0.7);
}

.nav>ul>li {
    width: auto;
    height: 3em;
    line-height: 3em;
    position: relative;
    cursor: pointer;
    color: #ed8a63;
    font-size: 12px;
    border: 0.3em solid #1d1145;
    border-radius: 0.9em;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.1em;
    text-align: center;
}

ul.drop-menu {
    position: absolute;
    top: 100%;
    left: 0%;
    width: 100%;
    padding: 0;
}

ul.drop-menu li {
    background: #ececec;
    border: 0.3em solid #1d1145;
}

ul.drop-menu li:hover {
    background: #f5e1e1;
    border: 0.3em solid #1d1145;
}

ul.drop-menu li:first-child {
    border-radius: 0.9em;
}

ul.drop-menu li:last-child {
    border-radius: 0.9em;
}

ul.drop-menu li {
    display: none;
}

li:hover>ul.drop-menu li {
    display: block;
}

li:hover>ul.drop-menu.menu {
    perspective: 1000px;
}

li:hover>ul.drop-menu.menu li {
    transform-origin: top center;
    opacity: 0;
}

li:hover>ul.drop-menu.menu li:nth-child(1) {
    animation-name: menu;
    animation-duration: 300ms;
    animation-delay: -150ms;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

li:hover>ul.drop-menu.menu li:nth-child(2) {
    animation-name: menu;
    animation-duration: 300ms;
    animation-delay: 0ms;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

li:hover>ul.drop-menu.menu li:nth-child(3) {
    animation-name: menu;
    animation-duration: 300ms;
    animation-delay: 150ms;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

li:hover>ul.drop-menu.menu li:nth-child(4) {
    animation-name: menu;
    animation-duration: 300ms;
    animation-delay: 300ms;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

li:hover>ul.drop-menu.menu li:nth-child(5) {
    animation-name: menu;
    animation-duration: 300ms;
    animation-delay: 450ms;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

li:hover>ul.drop-menu.menu li:nth-child(6) {
    animation-name: menu;
    animation-duration: 300ms;
    animation-delay: 600ms;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

@keyframes menu {
    0% {
        opacity: 0;
        transform: rotateY(90deg);
    }
    70% {
        transform: rotateY(-10deg);
    }
    100% {
        opacity: 1;
        transform: rotateY(0deg);
    }
}

.middle_line {
    height: 2px;
    width: auto;
    margin: 0 20px;
    background-color: #1d1145
}