.list {
    background-color: #ffffff;
    border-style: solid;
    border-color: #3a4660;
    margin: 2em;
    padding: 2em;
    border-radius: 1em;
}

h2 {
    margin: 0 0 1em 0;
    text-align: center;
}

.card-1 {
    box-shadow: 0 1px 3px #3a4660, 0 1px 2px #3a4660;
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.card-1:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

/******************* Inputfield list-view *******************/

.size {
    font-size: xx-small;
}

.inputfield {
    text-align: center;
    width: 40%;
    border-style: #3a4660;
    position: relative;
    left: 45%;
    transform: translateX(-50%);
}

input[type="text"] {
    font: 15px/24px "Lato", Arial, sans-serif;
    color: #333;
    width: 100%;
    box-sizing: border-box;
    letter-spacing: 1px;
    background-color: transparent;
}

/******************* Inputfield effects *******************/

.inputeffect {
    border: 0;
    padding: 7px 0;
    border-bottom: 1px solid #3a4660;
}

textarea:focus, input:focus {
    outline: none;
}

.inputeffect~.focus-border {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    z-index: 99;
}

.inputeffect~.focus-border:before, .inputeffect~.focus-border:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #ed8a63;
    transition: 0.4s;
}

.inputeffect~.focus-border:after {
    left: auto;
    right: 0;
}

.inputeffect:focus~.focus-border:before, .inputeffect:focus~.focus-border:after {
    width: 50%;
    transition: 0.4s;
}

/******************* Button list-view *******************/

.menu, .menu .menu_title, .menu ul li i, .menu ul li i:after, .menu ul li i:before {
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

.menu {
    display: block;
    margin: 0;
    padding: 0;
    display: inline-block;
    background-color: transparent;
    border-radius: 50px;
}

.menu i {
    color: #3a4660;
    display: block;
    line-height: 50px;
    padding: 0 10px;
    text-decoration: none;
    font-size: 50px;
}

/* ----- EFFECT 12 - Hover Reveals Shadow */

.menu.effect-12 i {
    border-radius: 50px;
    border-color: #3a4660;
}

.menu.effect-12 i:hover {
    border-color: #3a4660;
    box-shadow: 0 2px 2px #ed8a6355, 0 4px 4px #ed8a6355, 0 8px 8px #ed8a6355, 0 16px 16px #ed8a6355;
}