<div class="list card card-1" *ngIf="list">
    <h2>{{list.name}}</h2>

    <div class="inputfield">

            <input class="inputeffect" type="text" placeholder="Add Item to List" #itemName (keyup.enter)="addItem(itemName.value); itemName.value=''">
            <span class="focus-border"></span>
            <a class="menu effect-12" (click)="addItem(itemName.value); itemName.value=''">
                        <i>+</i>
            </a>

    </div>

    <a *ngFor="let item of list.items">
        <div class="">
            <p (click)="changeItem(item.name)">{{item.name}}</p>
        </div>
        <div>
            <button (click)="remItem(item._id)">
                X
            </button>
        </div>
    </a>
</div>

