.list {
    background-color: #ffffff;
    border-style: solid;
    border-color: #3a4660;
    margin: 2em;
    padding: 2em;
    border-radius: 1em;
    min-width: 15em;
}

h2 {
    margin: 0 0 1em 0;
    text-align: center;
}

.card-1 {
    box-shadow: 0 1px 3px #3a4660, 0 1px 2px #3a4660;
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.card-1:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

/******************* Inputfield list-view *******************/

.size {
    font-size: xx-small;
}

.inputfield {
    text-align: center;
    max-width: 40%;
    min-width: 10em;
    position: relative;
    left: 45%;
    transform: translateX(-50%);
}

input[type="text"] {
    font: 15px/24px "Lato", Arial, sans-serif;
    color: #333;
    width: 100%;
    box-sizing: border-box;
    letter-spacing: 1px;
    background-color: transparent;
}

/******************* Inputfield effects *******************/

.inputeffect {
    border: 0;
    padding: 7px 0;
    border-bottom: 1px solid #3a4660;
}

textarea:focus, input:focus {
    outline: none;
}

.inputeffect~.focus-border {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    z-index: 99;
}

.inputeffect~.focus-border:before, .inputeffect~.focus-border:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #ed8a63;
    transition: 0.4s;
}

.inputeffect~.focus-border:after {
    left: auto;
    right: 0;
}

.inputeffect:focus~.focus-border:before, .inputeffect:focus~.focus-border:after {
    width: 50%;
    transition: 0.4s;
}

/******************* Button list-view *******************/

@keyframes pulse {
    0% {
      transform: scale(0);
      opacity: 0;
    }
    33% {
      transform: scale(1);
      opacity: 1;
    }
    100% {
      transform: scale(2);
      opacity: 0;
    }
  }

  i {
      font-weight: bold;
      font-size: 30px;
  }

  .button {
    display: inline-flex;
    align-items: center;
    background: white;
    box-shadow: 0 3px 2px 0 rgba(0, 0, 0, 0.1);
    border-radius: 90px;
    height: 40px;
    padding: 0 20px;
    color: #3a4660;
    text-transform: uppercase;
    text-decoration: none;
    transition: background .3s, transform .3s, box-shadow .3s;
    will-change: transform;
  }
  .button:hover {
    background: white;
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.2);
    transform: translate3d(0, -2px, 0);
    cursor: pointer;
  }

  .button:active {
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
    transform: translate3d(0, 1px, 0);
  }

  .pulse {
    position: relative;
  }

  .pulse:before, .pulse:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 50%;
    width: 10px;
    height: 10px;
    opacity: 0;
    margin: auto;
  }
  .pulse:before {
    animation: pulse 1.5s infinite linear;
  }
  .pulse:after {
    animation: pulse 2s .4s infinite linear;
  }
  .pulse:hover:before, .pulse:hover:after {
    display: none;
  }


.inputbutton {
    position: absolute;
    cursor: pointer;
}

