body, html{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
  }

  @font-face {
      font-family: 'DPDorkDiary';
      src: url('./assets/DPDorkDiary.ttf') format('truetype');
      font-weight: normal;
  }

  /* Add application styles & imports to this file! */
  .ng-sidebar {
      background: red;
      width: 13rem;
  }

  .ng-sidebar--right {
      color: red !important;
      background: antiquewhite;
      width: 12rem;
  }